$-colors: (
  "primary": (
    "base": #369a30,
  ),
  "info": (
    "base": #bbbbbb,
  ),
);

$bg-color: (
  "page": #252525,
);

$text-color: (
  "regular": #dbdbdb,
);

@forward "element-plus/theme-chalk/src/dark/var.scss" with (
  $bg-color: $bg-color,
  $text-color: $text-color,
  $colors: $-colors
);

@forward "./variables.scss";
