html {
  font-family: var(--el-font-family);
  background-color: var(--el-bg-color-page);
}

body {
  a {
    text-decoration: none;
  }

  .el-text {
    align-self: initial;
    line-height: 120%;
  }

  .el-skeleton {
    &__image {
      border-radius: 30px;
    }
  }
}
