$white: white;
$black: #252525;
$grey1: #2e363e;
$grey2: #434b53;
$grey5: #7e868e;
$grey6: #929aa2;
$grey10: #e2eaf2;
$grey11: #f2f6fa;
$green: #369a30;

%bold-18px {
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 152%;
}

%bold-24px {
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 143%;
}

%bold-36px {
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 133%;
}

%medium-18px {
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 152%;
}

%regular-12px {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 150%;
}

%regular-14px {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
}

%regular-16px {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
}

%regular-18px {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
}